<%- include('../partials/head') %>
    <div class="container">
    <h1>Here's all the Reviews</h1>
    <% reviews.forEach((review) => { %>
      <div class="card mt-2" style="width: 18rem;">
          <div class="card-body">
              <h5 class="card-title"><%= review.title %></h5>
              <h6 class="card-title"><%= review.author %></h7>
              <h6 class="card-subtitle mb-2 text-muted"> Reviewer :<%= review.reviewer.username %></h6>
              <p class="card-text"> Rating: ⭐<%= review.rating %>/5</p>
              <p class="card-text"><%= review.reviewText %></p>
            
              <a href="/reviews/<%= review._id %>" class="btn btn-secondary">View Details</a>
          </div>
      </div>
      <% }) %>  
    </div>
    <%- include('../partials/footer') %>
   
    